.App {
  text-align: center;
  background-color: #272c34;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  max-height: 100%;
  
}

.Chords {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3rem;
  width: 100%;
  max-width: 500px;
}

.ChordsContainer {
  display: flex;
  justify-content: center;
  
}

.Chord {
  display: flex;
  justify-content: center;
}

.VertialCenterLeft{
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0, -50%)
  
}
.VertialCenter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
  
}

.VerticalContainer {
  position: relative;
}

.VertialCenterRight{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0, -50%)
  
}

.MicContainer{
  margin-top: 5rem;
  display: flex;
  position: relative !important;
}



.MuiFab-label{
  color: white !important;
}